body{
    font-family: sans-serif;
}

#cabecalho {
    padding-left: 150px;
    top: 0;
    left: 0;
    right: 0;
    height: 112px;
    display: flex;
    position: absolute;
    background-color: #7848D8;
    align-items: center;
}

#logodiv{
    width: 112px;
    height: 112px;
}

#logo{
    padding-top: 25px;
    width: 112px;
    top: 0;

}

#divnavbar{
    padding: 3px;
    margin-left: 450px;
}

#navul {
    list-style: none;
    display: flex;
}

.navli {
    padding-left: 20px;
}

.navli a {
    text-decoration: none;
    color: white;

}

#corpo{
    left: 0;
    top: 110px;
    width: 100%;
    height: 440px;

    position: absolute;
    background-color: #7848D8;
    display: flex;
}

#corpoTexto{
    left: 0;
    width: 55%;
    height: 440px;
}

#corpoImagemdiv{
    right: 0;
    width: 45%;
    height: 440px;
}

#corpoImagem{
    width: 300px;
    margin-left: 95px;
    margin-top: 10%;
}

#gameon{
    width: 500px;
    margin-left: 15%;
    margin-top: 10%;
}

#textgameon{
    font-size: small;
    color: white;
    margin-left: 14%;
    display: inline;
}

.botao{
    margin-left: 250px;
}

#about{
    left: 0;
    top: 550px;
    width: 100%;
    height: 540px;
    position: absolute;
    background-color: white;
    display: flex;
}

#div1{
    border: solid;
    left: 0;
    top: 550px;
    width: 33%;
    height: 540px;
}
#div2{
    border: solid;
    left: 0;
    top: 550px;
    width: 33%;
    height: 540px;
}

#div3{
    border: solid;
    left: 0;
    top: 550px;
    width: 33%;
    height: 540px;
}

#dante{
    width: 300px;
    align-items: center;
}

#divtextodante{
    border: solid;
    left: 0;
    height: 60px;
}